In [36]:
import pandas as pd

In [93]:
# 地区编码
nbs_pd = pd.read_csv('../ext_data/nbs_id_card_code_ver1.csv',dtype={'district_id':'str'})
id_card_key = nbs_pd.loc[~nbs_pd.district_id.isna(),'district_id'].drop_duplicates().tolist()

In [94]:
result = pd.read_csv('../single_result/1015_id_only_50.csv',header=None, names=['file_id','id'])

In [95]:
result[result.id.str.len() < 17].shape

(1, 2)

In [96]:
result['area_id'] = result['id'].str[:6]

In [97]:
result.loc[~result.area_id.isin(id_card_key)]

                               file_id                   id area_id
0     000488dbd3bf43b3a8410ea1147345ff    38028119910715151  380281
523   19b6bd7c704b4147b85009a555a1dcf3   428504199511103741  428504
867   2cd6e56364cd42bba1e2c58a546bdbd0    13262719860923688  132627
2236  757a73641b474ec2a05301e221e34216    31105513195999739  311055
2526  83bd06a7b23e4dda9631ff77fd2be307  3027112632212660239  302711
4424  e4b3332cbcdf45fab14b668f7e569979     331711611771573X  331711

In [108]:
result.loc[result.file_id == '2cd6e56364cd42bba1e2c58a546bdbd0']

                              file_id                 id area_id
867  2cd6e56364cd42bba1e2c58a546bdbd0  13262719860923688  132627

In [98]:
result2 = pd.read_csv('../single_result/1015_v2_id_only_49.csv',header=None, names=['file_id','id'])

In [99]:
result2[result2.id.str.len() < 17].shape

(3, 2)

In [100]:
result2['area_id'] = result2['id'].str[:6]

In [101]:
result2.loc[~result2.area_id.isin(id_card_key)]

                               file_id                  id area_id
523   19b6bd7c704b4147b85009a555a1dcf3  428504199511103741  428504
686   22cc48d958fb4081ace55dbcdb43c03e  42260219611023235X  422602
867   2cd6e56364cd42bba1e2c58a546bdbd0   13252719860923688  132527
1505  5036a34ff4714b019e3f80b31965497f   50010019700420672  500100
2236  757a73641b474ec2a05301e221e34216       1118444111419  111844
2526  83bd06a7b23e4dda9631ff77fd2be307    1071116401161261  107111
4041  d28c1c9264c74a10bc372ac3cc307c8b   53202520030526913  532025
4424  e4b3332cbcdf45fab14b668f7e569979    1141119111411114  114111

In [102]:
result2.loc[result2.file_id == '000488dbd3bf43b3a8410ea1147345ff']

                            file_id                 id area_id
0  000488dbd3bf43b3a8410ea1147345ff  36028119910715151  360281

In [105]:
from Levenshtein import distance

In [117]:
for idx,error_id in enumerate(result2.loc[~result2.area_id.isin(id_card_key),'id']):
    print(idx)
    print(error_id[:6])
    
    option_list = []
    for ok_id in id_card_key:
        sim_ed_dist = distance(error_id[:6],ok_id)
        if sim_ed_dist < 2:
            option_list.extend([ok_id])
            print(ok_id, sim_ed_dist)
    
    print(option_list)

0
428504
420504 1
['420504']
1
422602
420602 1
422802 1
['420602', '422802']
2
132527
130527 1
152527 1
532527 1
['130527', '152527', '532527']
3
500100
500101 1
500102 1
500103 1
500104 1
500105 1
500106 1
500107 1
500108 1
500109 1
500110 1
500120 1
['500101', '500102', '500103', '500104', '500105', '500106', '500107', '500108', '500109', '500110', '500120']
4
111844
[]
5
107111
[]
6
532025
532325 1
532525 1
532625 1
532925 1
['532325', '532525', '532625', '532925']
7
114111
110111 1
['110111']