In [26]:
import pandas as pd

In [27]:
old_pd = pd.read_csv('../single_submit/0907_sex_only_mix.csv',header=None)
old_pd.columns = ['file', 'name', 'nation', 'sex', 'year', 'month', 'day', 'addr', 'id', 'office', 'valid']

In [28]:
new_pd = pd.read_csv('../single_result/0907_sex_only_100.csv',header=None,names=['file','sex'])

In [29]:
meg_pd = pd.merge(new_pd,old_pd[['file','sex']],how='left',on='file')

In [30]:
meg_pd[meg_pd.sex_x != meg_pd.sex_y]

                                  file sex_x sex_y
1030  3620324e0f1c406cb1c609dfa522afbe     男   NaN
1066  381365090bab40cea66862c5df2cf87b     男   NaN
1490  4f076edc9d3e4f288154b36cde35b16a     男   NaN
1664  58b482c1d2884f8cabbf002caa8c8032     女     男
2526  83bd06a7b23e4dda9631ff77fd2be307     女   NaN
2699  8d1f38d494a743f1b48566fe70357be3     男   NaN
3838  c9262840446740589b789fff27978cb3     男   NaN
4355  e14e3d7f6f304e35a66522dda925296f     男     女
4424  e4b3332cbcdf45fab14b668f7e569979     女   NaN
4687  f0bb8e7205174c4f9731d8d3f1e68693     女     男