In [11]:
import pandas as pd

In [12]:
# 已经提交的最高成绩
old_pd = pd.read_csv('../single_submit/0906_month_only_43.csv ',header=None) #9.9672% 
old_pd.columns = ['file', 'name', 'nation', 'sex', 'year', 'month', 'day', 'addr', 'id', 'office', 'valid']

In [13]:
# new_pd = pd.read_csv('../single_result/0906_month_only_43.csv',header=None,names=['file','month'])
new_pd = pd.read_csv('../single_result/1019_month_only_93.csv',header=None,names=['file','month'])

In [14]:
meg_pd = pd.merge(new_pd,old_pd[['file','month']],how='left',on='file')

In [10]:
meg_pd[meg_pd.month_x != meg_pd.month_y]

                                  file  month_x  month_y
1066  381365090bab40cea66862c5df2cf87b        5        2
2236  757a73641b474ec2a05301e221e34216        7       11
2526  83bd06a7b23e4dda9631ff77fd2be307       11       12
3248  aa39569b8239419e92f4bb4a47af4c5d        6       12
3449  b49d5d9947e644a79f332f83f5c6861b        5        2
4424  e4b3332cbcdf45fab14b668f7e569979        4        7

In [15]:
meg_pd[meg_pd.month_x != meg_pd.month_y]

                                  file  month_x  month_y
1066  381365090bab40cea66862c5df2cf87b        5        2
1870  62dc913ee8c749d68de7918a6d4e227a        1       11
2236  757a73641b474ec2a05301e221e34216        7       11
2526  83bd06a7b23e4dda9631ff77fd2be307       11       12
3104  a260bf5db26343578eedbd780deceaa9        4        1
3248  aa39569b8239419e92f4bb4a47af4c5d        6       12
3367  b0abcd1aab734e4c84ab6b934b8128ba        7        3
3447  b497f15365be487b9c8866980aef0048        1        7
3449  b49d5d9947e644a79f332f83f5c6861b        5        2
4046  d2abacd90b0a43979d3f973a16140dc2        3        8
4424  e4b3332cbcdf45fab14b668f7e569979        4        7
4471  e70166131dd24c3f9d533a02742bc892        9        5