In [8]:
import pandas as pd

In [9]:
old_pd = pd.read_csv('../single_submit/0908_year_only_57.csv',header=None)  #9.9821%
old_pd.columns = ['file', 'name', 'nation', 'sex', 'year', 'month', 'day', 'addr', 'id', 'office', 'valid']

In [19]:
new_pd = pd.read_csv('../single_result/1019_year_only_31.csv',header=None,names=['file','year'])

In [20]:
meg_pd = pd.merge(new_pd,old_pd[['file','year']],how='left',on='file')

In [21]:
meg_pd[meg_pd.year_x != meg_pd.year_y]

                                  file  year_x  year_y
237   0ba462f2ddf044a2a1f08b6c17403b78    1983    1982
2236  757a73641b474ec2a05301e221e34216    2001    1969
2358  7af5c484efd54e9fab0a19701fab40c6    2000    2004
2526  83bd06a7b23e4dda9631ff77fd2be307    1975    1990
3248  aa39569b8239419e92f4bb4a47af4c5d    1998    1978
3987  cf92e1eeeca14832a24a6d854802f3fe    1974    1971
4424  e4b3332cbcdf45fab14b668f7e569979    1983    1962
4471  e70166131dd24c3f9d533a02742bc892    1980    1984